.footer_wrapper {
    color: white;
    background: linear-gradient(to bottom, #000a03, #07000a);
  
    .footer_container {
      width: 80%;
      margin: auto;
  
      .footer {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
        align-content: center;
  
        .box {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          max-width: 270px;
          margin-bottom: 20px;
  
          ul {
            list-style: none;
          }
  
          span {
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
  
            &:hover {
              cursor: pointer;
              color: #188178;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  
    .logo2 {
      font-size: 35px;
    }
  }